@{
    Layout = "~/Views/Shared/_LayoutApps.cshtml";
}
<div class="span12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><i class="icon-edit"></i></div>
            <div class="tools">
                <a href="javascript:void(0)" class="collapse"></a>
                <a href="javascript:void(0)" data-toggle="modal" class="config"></a>
                <a href="javascript:void(0)" class="reload"></a>
                <a href="javascript:void(0)" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div class="clearfix">
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn green">
                        新增一个角色<i class="icon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
