################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewCRM/.vs/config
/NewCRM/.vs/NewCRM/v15
/NewCRM/NewCRM.ApplicationService
/NewCRM/NewCRM.Domain
/NewCRM/NewCRM.DomainService/bin/Debug
/NewCRM/NewCRM.DomainService/obj/Debug
/NewCRM/NewCRM.Dto
/NewCRM/NewCRM.Infrastructure/bin/Debug
/NewCRM/NewCRM.Infrastructure/obj/Debug
/NewCRM/NewCRM.Repository/bin/Debug
/NewCRM/NewCRM.Repository/obj/Debug
/NewCRM/NewCRM.Web/bin/EntityFramework.Extended.dll
/NewCRM/NewCRM.Web/bin/EntityFramework.DynamicFilters.dll
/NewCRM/NewCRM.Web/bin/CommonServiceLocator.dll
/NewCRM/NewCRM.Web/bin/AutoMapper.xml
/NewCRM/NewCRM.Web/bin/AutoMapper.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.Configuration.xml
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.Configuration.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.ServiceLocation.dll
/NewCRM/NewCRM.Web/bin/EntityFramework.SqlServer.xml
/NewCRM/NewCRM.Web/bin/EntityFramework.SqlServer.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.Mvc.xml
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.Mvc.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.Interface.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.dll.config
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Application.Services.pdb
/NewCRM/NewCRM.Web/bin/NewCRM.Application.Services.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Web.Infrastructure.dll
/NewCRM/NewCRM.Web/bin/Microsoft.Practices.Unity.xml
/NewCRM/NewCRM.Web/bin/NewCRM.Infrastructure.dll.config
/NewCRM/NewCRM.Web/bin/NewCRM.Dto.pdb
/NewCRM/NewCRM.Web/bin/NewCRM.Dto.dll.config
/NewCRM/NewCRM.Web/bin/NewCRM.Dto.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.Services.pdb
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.Services.dll.config
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.Services.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Domain.pdb
/NewCRM/NewCRM.Web/bin/NewCRM.Repository.dll
/NewCRM/NewCRM.Web/bin/NewCRM.Repository.dll.config
/NewCRM/NewCRM.Web/bin/NewCRM.Repository.pdb
/NewCRM/NewCRM.Web/bin/NewLib.Data.dll
/NewCRM/NewCRM.Web/bin/NewLib.Data.dll.config
/NewCRM/NewCRM.Web/bin/NewLib.Data.pdb
/NewCRM/NewCRM.Web/bin/Nito.AsyncEx.dll
/NewCRM/NewCRM.Web/bin/WebActivatorEx.dll
/NewCRM/NewCRM.Web/bin/System.Runtime.InteropServices.dll
/NewCRM/NewCRM.Web/bin/System.Runtime.dll
/NewCRM/NewCRM.Web/bin/System.Diagnostics.Tracing.dll
/NewCRM/NewCRM.Web/bin/StackExchange.Redis.xml
/NewCRM/NewCRM.Web/bin/StackExchange.Redis.dll
/NewCRM/NewCRM.Web/bin/Nito.AsyncEx.xml
/NewCRM/NewCRM.Web/bin/Nito.AsyncEx.Enlightenment.xml
/NewCRM/NewCRM.Web/bin/Nito.AsyncEx.Enlightenment.dll
/NewCRM/NewCRM.Web/tmp31AF.tmp
/NewCRM/NewCRM.Web/tmp84A7.tmp
/NewCRM/packages
/NewCRM/TestCenter
/ - Copy.gitignore
/NewCRM/NewCRM.Web/Scripts/HoorayUI/img/ui/uploadui
