<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileUrl" value="http://39.106.106.137:8080/files"/>
    <add key="RedisConnection" value="39.106.106.137:6379,allowadmin=true" />
    <add key="RedisPrefix" value=""/>
    <add key="MongoConnection" value="UserName=xiaofan;Password=woaiguangyun;DataBase=NewCRMLogger;ServerList=127.0.0.1:2539"/>
  </appSettings>
</configuration>
