@{
    Layout = "~/Views/Shared/_LayoutApps.cshtml";
}

@section ChildrenCss
{
    <style>
        body {
            margin: 10px 10px 0;
        }

        .membericon {
            width: 24px;
            height: 24px;
        }

        .membername {
            margin-left: 10px;
        }
    </style>
}

<div class="well well-small" style="margin-bottom:10px">
    <div class="form-inline">
        <label>账户名：</label>
        <input type="text" name="accountName" id="accountName" class="span2">
        <label style="margin-left:10px">账户类型：</label>
        <select name="accountType" id="accountType" style="width: 150px">
            <option value="">全部</option>
            <option value="1">账户</option>
            <option value="2">管理员</option>
        </select>
        <a class="btn" menu="search" href="javascript:;" style="margin-left:10px"><i class="icon-search"></i> 搜索</a>
        <a class="btn btn-primary fr" href="javascript:openDetailIframe('@Url.Action("CreateNewAccount", "AccountManager")');"><i class="icon-white icon-plus"></i> 添加新账户</a>
    </div>
</div>
<table class="list-table">
    <thead>
        <tr class="col-name">
            <th>账户名</th>
            <th style="width: 100px">类型</th>
            <th style="width: 150px">操作</th>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
        <tr class="toolbar">
            <td colspan="100">
                <b style="margin: 0 10px">符合条件的记录</b>有<font class="list-count">0</font>条
            </td>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
    </thead>
    <tbody class="list-con"></tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                <div class="pagination pagination-centered" id="pagination"></div>
                <input id="pagination_setting" type="hidden" per="15">
            </td>
        </tr>
    </tfoot>
</table>

<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:-100px;left:0;width:100%;height:100%;display:none">
    <iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>
@section ChildrenScript
{
    <script src="@Url.Content("~/Scripts/handlebars-v4.0.5.js")"></script>

    <script id="table-template" type="text/x-handlebars-template">
        {{#each accounts}}
        <tr class="list-bd">
            <td style="text-align:left;padding-left:15px;width:33%">
                <img src="{{AccountFace}}" alt="{{Name}}" class="membericon">
                <span class="membername">{{Name}}</span>
            </td>
            <td style="text-align:left;padding-left:15px;width:33%">{{convertAccountType AccountType}}</td>
            <td style="width:33%">
                <a href="javascript:openDetailIframe('@Url.Action("CreateNewAccount", "AccountManager")?accountId={{Id}}');" class="btn btn-link">编辑</a>
                <a href="javascript:void();" class="btn btn-link do-del" data-roleid="{{Id}}">删除</a>
            </td>
        </tr>
        {{/each}}
    </script>


    <script>
        $(function() {
            //加载列表
            getPageList(0);
            //删除
            $('.list-con').on('click', '.do-del', function() {
                var memberid = $(this).attr('memberid');
                var name = $(this).parent().prev().text();
                art.dialog({
                    id: 'edit',
                    content: '确定要删除 “' + name + '” 该账户么？',
                    ok: function() {
                        $.ajax({
                            type: 'POST',
                            url: 'index.ajax.php',
                            data: 'ac=del&memberid=' + memberid,
                            success: function(msg) {
                                $('#pagination').trigger('currentPage');
                            }
                        });
                    },
                    cancel: true
                });
            });
            //搜索
            $('a[menu=search]').click(function() {
                getPageList(0);
            });
        });

        function initPagination(current_page) {
            $('#pagination').pagination(parseInt($('#pagination_setting').attr('count')), {
                current_page: current_page,
                items_per_page: 5,
                num_display_entries: 3,
                num_edge_entries: 1,
                callback: getPageList,
                prev_text: '上一页',
                next_text: '下一页'
            });
        }

        function getPageList(current_page) {
            ZENG.msgbox.show('正在加载中，请稍后...', 6, 8000);
            $.get('@Url.Action("GetAllAccounts", "AccountManager")', {
                accountName: $('#accountName').val(),
                accountType: $('#accountType').val(),
                pageIndex: current_page === 0 ? 1 : current_page + 1,
                pageSize: 5
            }, function(responseText) {
                ZENG.msgbox._hide();

                var tableTemplate = Handlebars.compile($("#table-template").html());
                $('.list-con').html(tableTemplate(responseText));

                $('#pagination_setting').attr('count', responseText.toatalCount);
                $('.list-count').text(responseText.totalCount);

                initPagination(current_page);
            });
        }

        Handlebars.registerHelper('convertAccountType', function(accountType) {
            if (accountType === 1) {
                return '账户';
            } else {
                return '管理员';
            }
        });
    </script>

}
