<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileUrl" value="DY604uIHR90NPArIAbusPWR6t8ieLTs2m1xloesGJBs="/>
    <add key="RedisDb" value="0" />
    <add key="RedisConnection" value="DfkMZgoYZAdq8NzZaxNIZwos8uRynX7v5nB46WeROYIg+tV/NVRVGgYg8yh8ZwBxkjvURzAFRq/+YMnEGXXH0wVzzLC5nMQxxf3byUBE1/w1tI91z9yo7LAmhkWfYAJQ" />
    <add key="RedisPrefix" value=""/>
    <add key="MongoConnection" value="Igq7VAZHEEenKSDYZmIMWqSmpi6xeGStZiNP+Uw9Cs3vZRTXe3EHHouEwg+9JCJL+KN7vJskOAUDJLtsk8wBkFn6k/UtHVZvuZPB9K39biHIeSOv8efEs+7ujpEMmtf/"/>
    <add key="UploadUrl" value="http://39.106.106.137:8080"/>
  </appSettings>
</configuration>
