<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileUrl" value="DY604uIHR90NPArIAbusPWR6t8ieLTs2m1xloesGJBs="/>
    <add key="RedisConnection" value="DfkMZgoYZAdq8NzZaxNIZ0eAhrQzdA6pDkOsVgVFS87K6eO5uJ34lmaHg15KQ4Or" />
    <add key="RedisPrefix" value=""/>
    <add key="MongoConnection" value="Igq7VAZHEEenKSDYZmIMWqSmpi6xeGStZiNP+Uw9Cs3vZRTXe3EHHouEwg+9JCJL+KN7vJskOAUDJLtsk8wBkFn6k/UtHVZvuZPB9K39biHIeSOv8efEs+7ujpEMmtf/"/>
  </appSettings>
</configuration>
