@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="@Url.Content("~/Scripts/HoorayUI/js/sugar/sugar-1.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/HoorayUI/js/HoorayJs/hros.min.js?__=" + DateTime.Now.Millisecond)"></script>



