@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}


<html>
<head>
    <link href="@Url.Content("~/Scripts/HoorayUI/js/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/HoorayUI/css/globle.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/HoorayUI/css/sys.css")" rel="stylesheet" />
  


</head>
<body>
    @RenderBody()
</body>
</html>
 
@section script
{}



