<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NewCrm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=NewCrmBackSite;Persist Security Info=True;User ID=sa;Password=sasa;MultipleActiveResultSets=true;" />
  </connectionStrings>
</configuration>